<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hanglok.mapper.BodyPartMapper">
    <update id="updateBodyName">
        UPDATE body_part
        <set>
            body_name = #{bodyName},
            updated_at = #{updatedAt},
            updater = #{updater}
        </set>
        where id = #{id}
    </update>
</mapper>
