<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hanglok.mapper.ImageLabelMapper">
    <update id="updateFile">
        UPDATE image_label
        <set>
            file_name = #{fileName},
            file_location = #{fileLocation},
            updater = #{updater},
            updated_at = #{updatedAt}
        </set>
        where id = #{id}
    </update>

    <resultMap id="ImageLabelOutDtoMap" type="cn.hanglok.dto.ImageLabelOutDto">
        <constructor>
            <arg column="id" javaType="java.lang.Long" />
            <arg column="organ_id" javaType="java.lang.String" />
        </constructor>
    </resultMap>

    <select id="getSeriesLabel" resultMap="ImageLabelOutDtoMap">
        SELECT
            image_label.*,
            GROUP_CONCAT(DISTINCT label_organ.organ_id SEPARATOR ',') as organ_id
        FROM
            image_label
        LEFT JOIN label_organ ON
            image_label.id = label_organ.label_id
        WHERE series_id = #{seriesId}
        GROUP BY image_label.id
    </select>
</mapper>
